.Footer {
    min-height: 100%;
    background-color: #252527;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
    position: relative
}

.container {
    /* border: 1px solid;  */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.blockitems {
    margin: 20px;
    width: 500px;
    display: flex;
    /* border: 1px solid; */

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.blockitem {

    /*background-color: cadetblue;*/
    flex-wrap: wrap;
    /*border-radius: 15px*/
;
margin: 30px;

}


.title{
    text-align: center;
    margin-top: 15px;
    margin-top: -25px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.block {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -25px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    font-weight: 400;

}
.blocks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Footerimage {
    width: 30px;
    height: 30px;
    flex-wrap: wrap;
}

.Footerimage:hover{

    transform: scale(1.6,1.6);
    transition: 500ms;

}


@media screen and (max-width: 626px) {
    .blockitems {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .Footerimage {
        width: 25px;
        height: 25px;
    }
}