.Footer {
    min-height: 100%;
    background-color: #252527;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}

.container {
    /* border: 1px solid;  */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.blockitems {
    width: 500px;
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    flex-wrap: wrap;
}


.blockitem {

    /*background-color: cadetblue;*/
    flex-wrap: wrap;
    /*border-radius: 15px*/
;
margin: 30px;

}

.block {
    text-align: center;
    margin: 15px;
    opacity: 0.8;
}

.Footerimage {
    max-width: 40px;
    max-height: 40px;
    flex-wrap: wrap;
}


@media screen and (max-width: 626px) {
    .blockitems {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .Footerimage {
        width: 25px;
        height: 25px;
    }
}