.header {
height: 50px;
background-color: rgb(116, 114, 114);
display:flex;
justify-content: center;
position: fixed;
width: 100%;
z-index: 10;
    /*opacity: 0.9;*/

}
.container {
  /*border: 1px solid;*/
width:  80%;
display:flex;
justify-content: flex-end;
align-items: center;
    scroll-behavior: smooth

}




