.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f20;
    flex-wrap: wrap;
    min-height: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* border: 1px solid; */
    flex-wrap: wrap;

}

.containerHeader {

    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    align-items: center;

}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 3px;

}

.line {
    background: rgb(11, 160, 219);
    width: 55px;
    height: 1px;
    border: 5px;
    margin: 30px auto;
    margin-top: -10px;;
}


.blocks {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
    flex-wrap: wrap;
    width: 100%;

}


@media screen and (max-width: 1252px) {
    .blocks {
        justify-content: center;
    }
}
