.skil {
    max-height: 450px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    /*margin: 130px 0;*/
    padding: 30px;
        margin: 60px 3px;
}

.title{
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    /*font-family: 'Montserrat',sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
}


.skilHeader {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background: rgba(255,255,255,0.1);
    transform: rotate(45deg);
    margin-bottom: 30px;
}
.skilHeader img{
    transform: rotate(-45deg);
    width:50%
}
.svg {

}

.description {

    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.8;
}


.h3 {
    font-size: 20px;


}

@media screen and (max-width: 625px) {
    .skil {
        width: 100%
    }
}


.imgage {

    max-width: 200px;

}

