.skil {
    /* border: 1px solid; */
max-height: 350px;
max-width: 350px;
display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;

}
.skilHeader {
    /* width: 100%; */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#d670e4; */
    background-image: image('https://www.pinterest.com/pin/847099011135947834/');
    /* background-image: ; */
}

.description{
    display: flex;
    align-items: center;
}


.h3 {
    font-size: 20px;
}

@media screen and (max-width:625px) {
    .skil {
       width: 100%
    }
}


.imgage{

    max-width:200px;
    
    }