.Slogan {
min-height:350px;
background-color: #252527;
display:flex;
justify-content: center;
justify-content: space-evenly;
flex-wrap: wrap;
    position: relative
}


.container {
    /* border: 1px solid;  */
    width:  80%;
    display:flex;
    justify-content: space-evenly;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
}




.SloganHeader{

    display:flex;
flex-direction: column;

align-items: center;

}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 3px;

}

.line{
    background: rgb(11, 160, 219);
    width: 55px;
    height: 1px;
    border: 5px;
    margin: 30px auto;
    margin-top: -10px;;
}



.button{
    
    display: block;
        font-family: M PLUS Rounded\ 1c,sans-serif;
    font-weight: 600;
        font-stretch: normal;
        font-size: 14px;
        line-height: 1.8;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 7px 20px;
        cursor: pointer;
        -webkit-transition: all .4s ease-in-out 0s;
        transition: all .4s ease-in-out 0s;
        background: transparent;
        color: #fff;
        max-width: 170px;
        margin: 15px auto;
        z-index: 0;
        text-align: center;
        border-radius: 0;
        width: 100%;
        border: none;
        position: relative;
    }
    
    .button::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10px;
        width: 50%;
        background: #4e93e6;
        z-index: -1;
        -webkit-transition: all .2s ease-in-out 0s;
        transition: all .2s ease-in-out 0s;
        margin: 0 auto;
        
    }
    
    .button:hover:after {
        height: 100%;
        width: 100%;
    }
    